.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(45, 39, 39, 0.723), rgba(199, 199, 215, 0.082));
  color: black;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  height: 50px;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notHomePage {
  background-color: #27262e;
}

.logo {
  color: antiquewhite;
  font-size: 1.55rem;
  font-weight: 500;
  padding-left: 8rem;
  cursor: pointer;
  text-decoration: none;
}

.contact {
  font-size: 1.55rem;
  font-weight: 600;
  cursor: pointer;
  color: antiquewhite;
  text-decoration: none;
}

.menu_icn {
  display: none;
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
  color: antiquewhite;
  font-size: 20px;
  font-weight: 400;
  padding-right: 8rem;
}

.hidden {
  transform: translateY(-100%);
}

.visible {
  transform: translateY(0);
}

.phone_icn {
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo {
    padding-left: 1rem;
  }

  .icons {
    padding-right: 1rem;
  }

  .contact {
    font-size: 1.2rem;
    display: none;
  }

  .phone_icn {
    display: none;
  }

  .menu_icn {
    display: block;
    /* cursor: pointer; */
    position: relative;
  }
}

.popover,
.popover2 {
  display: flex;
  justify-content: center;

  border: 1px solid #e5e9ed;
  border-radius: 4px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
  /* display: none; */
  padding-bottom: 16px;
  padding-top: 16px;
  position: absolute;
  right: 135px;
  top: 68px;

  border: none !important;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 0 6px #000;
  width: 25rem;
  /* height: 20rem; */
  background: rgba(0, 0, 0, 0.35) !important;
}

.popover2{
  right: 0px;
  top: 68px;
  flex-direction: column;
  width: 12rem;
  gap: 1rem;
  text-align: left;
  padding-left: 1rem;
}

.popover2_col1{
  color: #fff;
  text-decoration: none;
}

.popover2>  *:hover,.popover_col1 >  *:hover {
  color: #ed7d3a;
  transition: color 0.3s ease-out;
}

.popover_col1 {
  width: 45%;
}

.popover_col2 {
  width: 45%;
}

.popover_col1 > * {
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.popover_col2 > * {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.verticalLine {
  width: 1px;
  background-color: #29262679;
  height: 70px;
  margin-top: -8px;
}

.phone_icon,
.menu_icon{
  cursor: pointer;
}

.whatsapp{
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 4px;
}

a{
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #ed7d3a;
  transition: color 0.3s ease-out;
}