.container {
  height: 45vh;
  background-color: rgb(47, 61, 126);
  margin-bottom: 2rem;
  display: flex;
  color: white;
}

.textContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headings{
  display: flex;
  width: 100%;
  text-decoration: underline;
}
.lines{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.description,
.contact,
.quickLinks {
  flex-direction: column;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
} 

.description {
  text-align: left;
  width: 25%;
}

.contact {
  width: 25%;
}

.contact > * {
  display: flex;
  gap: 0.5rem;
}

.quickLinks{
  width: 25%;
}

.description > :nth-child(2) {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 0.5rem 0;
}

.heading {
  font-size: 1.2rem;
  font-weight: 550;
  text-decoration: underline #ed7d3a 2px;
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 0;
}

li {
  position: relative;
  padding-left: 10px;
}

li::before {
  content: "\203A";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-55%);
  font-size: x-large;
}

li > *,p {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
  padding: 0.2rem 0;
  margin: 0;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

li > *:hover {
  color: #ed7d3a;
}

.logo {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}