.row_one {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.title {
  font-weight: 600;
  color: #27262e;
  font-size: 20px;
  padding: 0 1rem;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.line_wrapper {
  display: flex;
  max-width: 400px;
  width: 35%;
}

.row_two {
  display: flex;
  flex-wrap: wrap;
  /* width: calc(100vw - 6rem); */
  padding: 0 2rem;
  justify-content: center;
}

.property_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1.5rem;
  cursor: pointer;
}

.swing {
  animation: swing ease-in-out 0.35s infinite alternate;
  transform-origin: center -20px;
  float: left;
  cursor: pointer;
  position: fixed;
  top: 3rem;
  left: 1rem;
  z-index: 2;
}

.banner_img {
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #efc337;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
  cursor: pointer;
}

.card > *:not(:first-child) {
  color: #27262e;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}

.line_img {
  width: 400px;
  height: 15px;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.verticleline {
  transform: rotate(90deg);
  border: 1px solid #efc337;
  width: 120px;
  margin-bottom: 40px;
}
.rectangletag {
  padding: 0.5rem 2rem;
  border: 2px solid #efc337;
  transform: skewY(0deg);
}

.back_label {
  color: black;
  text-shadow: rgb(151, 121, 121) 0px 0px 25px;
  text-decoration: none;
}

.link {
  color: black;
  text-decoration: none;
}

@media (max-width: 665px) {
  .card {
    width: 100%;
    padding: 0;
    padding-bottom: 1rem;
  }
  .property_img{
    padding-bottom: 1rem;
  }
}
